@media screen and (min-width: 768px){
   
    a.nav-link {
        margin-left: 24rem;
    }
   
    section#listeProduit a {
        left: 35rem;
    }
    
    .formulaire_commande, .recapitulatif {
        width: 100%;
    }

    .detail_information_prix {
        width: 27%;
    }
   
}