 /* Éléments généraux de la page */

 body{
  font-family: 'Raleway', sans-serif;
 }


 /* Header */

 .header {
  display: flex;
}

nav ul li {
  list-style: none;
}

ul.header-navigation {
  margin-left: -21px;
}

a.nav-link {
  border: solid 1.2px #A58B35;
  padding: 4px;
  border-radius: 2rem;
  background-color: #f8f8f8;
}

nav a{
  text-decoration: none;
}

section#listeProduit h2 {
  width: 100%;
}

h1.orinoco_peluches {
  text-align: center;
}

section#listeProduit a, p, h3 {
  margin-left: 1rem;
}
section#listeProduit a{
   box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
    background: linear-gradient(172deg, #ff79da 21%, #A58B35 79%);
    color: #fff;
    border: none;
    width: 50%;
    height: 3rem;
    border-radius: .2rem .2rem;
    cursor: pointer;
    position: relative;
    transition-duration: 2s;
    left: 10rem;
    bottom: 2rem;
    text-decoration: none;
    padding: .3rem;
}

article {
  width: 100%;
  margin-bottom: 2rem;
  box-shadow: 2px 1px 5px 2px #d1d1d1;
}

article img {
  width: 100%;
}

/* Section Fiche produit */


section#detailProduit{
  width: 100%;
  margin-bottom: 2rem;
  box-shadow: 2px 1px 5px 2px #d1d1d1;
}

section#detailProduit img{
  width: 100%;
}

select#choix_option {
  margin-left: 1rem;
}

button{
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  background: linear-gradient(172deg, #ff79da 21%, #A58B35 79%);
  color: #fff;
  border: none;
  height: 1.5rem;
  border-radius: .2rem .2rem;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  margin: 1rem;
}


main .detail_contenant .detail_information_prix .detail_prix {
  font-size: 1.6rem;
}

#listeProduit h2 {
  text-align: center;
}

.produit_nom, .produit_prix {
  width: 30%;
}

#choix_option, #ajout_panier {
  margin-bottom: 1rem;
  width: 95%;
}

#ajout_panier {
  font-size: 1rem;
}
#ajout_panier:hover {
  cursor: pointer;
}


/* CSS Page panier */

/* table{
  width: 100%;
}

img.photo_article {
  width: 100%;
} */

table {
  width: 100%;
  border-top: 1px solid#ff79da;
  border-bottom: 1px solid #ff79da;
}

.detail_information_prix {
  width: 67%;
}

.formulaire_commande, .recapitulatif {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulaire_commande {
  border-top: 3px solid;
}

.commander {
  font-size: 1rem;
}
.commander:hover {
  cursor: pointer;
}

.recapitulatif {
  margin-bottom: 2rem;
}

.fas:hover {
  cursor: pointer;
}

.form-control {
  border-color: rgba(0, 0, 0, 0.4);
  box-shadow: none;
}

form {
  width: auto;
  border: 1px solid #ff79da ;
  margin-bottom: 3rem;
  background-color: #f8f8f8;
}

.form-group {
  margin-left: 4rem;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
}

.paiement {
  margin-left: 1rem;
  margin-right: 1rem;
}

input:invalid,
textarea:invalid,
select:invalid {
  box-shadow: 0 0 5px 1px orange;
}

input:focus:invalid {
  outline: none;
}

.cadre {
  width: 70%;
}

#name,
#email {
  width: 70%;
  margin: auto;
}

#panier-recap, #confirmation-recap {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-content: center;
  vertical-align: middle;
  background-color: #f8f8f8;
  /* border-top: 1px solid #835038;
  border-bottom: 1px solid #835038; */
}

#colonneTotal, #sommeTotal, #colonneConfirmTotal, #sommeConfirmTotal {
  border-top: 1px solid #ff79da;
  /* background-color: #f5e6c6; */
  font-size: 1.2rem;
}

.photo_article {
  width: 10rem;
}

.photo_article_acheté {
  width: 7rem;
}


td, th{
  font-size: 1.2rem;
  background-color: #f8f8f8;
}

.confirmation h2 {
  text-align: center;
}

.textConfirm {
  font-size: 1.3rem;
}

#orderId {
  color: #0bb30b;
}

.footer {
  text-align: center;
  font-size: 0.8rem;
}